



.search{
    display: flex;
    align-items: center;
    background-color: rgb(224, 224, 224);
    margin: 15px 24px;
    padding: 2px 20px;
    border-radius: 20px;
}


.chats{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 0 10px 10px 10px;
    align-items: center;
    background-color: rgb(224, 224, 224) ;
    /* background-color: rgb(123, 169, 255) ; */
    border-radius: 20px;
}

.chats .first{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text{
    margin-left: 10px;
    /* background-color: rgb(151, 151, 151); */
}

.text h5, h6, p{
    padding: 0;
    margin-top:0;
    margin-bottom: 0;

}

